<%= javascript_include_tag "concerto_remote_video/application" %>
<%= stylesheet_link_tag "concerto_remote_video/application" %>

<fieldset>
  <legend><span><%= RemoteVideo::DISPLAY_NAME %></span></legend>
<div class="row-fluid">
  <%= form.fields_for :config do |config| %>
<div class='span4'>
    <div class="clearfix">
      <%= config.label :video_vendor, 'Video Vendor' %>
      <div class="input">
        <%= config.select :video_vendor, RemoteVideo::VIDEO_VENDORS.collect { |a,b| b[:id] } %>
      </div>
    </div>
    <div class="clearfix">
      <%= config.label :video_id %>
      <div class="input">
        <%= config.text_field :video_id, :placeholder => "DGbqvYbPZBY", :class => "input-xlarge" %>
        <div id="video_id_hint">Specify the video id for vimeo, or keywords for youtube, or url</div>
      </div>
    </div>
    <div class="clearfix">
      <%= config.label :allow_flash, 'Allow Flash?' %>
      <div class="input">
        <%= config.select :allow_flash, [["No", 0], ["Yes", 1]] %>
      </div>
    </div>
    <div class="clearfix">
      <%= form.label :duration %>
      <div class="input">
          <%= form.number_field :duration, :class => "input-small" %><br/>
          (automatically set if ascertained from video source)
      </div>
    </div>
</div>
<div>
  <div class='remote-video-info'></div>
</div>
  <% end %>
</div>  
</fieldset>
